<div class="conatainer">

<h1>Sign In</h1>
  <div class="form-group">
<form action="/login" method="post">
 <label>Username: <input type="text" name="username" class="form-control" required></input></label><br>
  <label>Password: <input type="password" name="password" class="form-control" required></input></label><br>
  <button class="btn btn-sm btn-secondary text-uppercase" type="submit">Sign in</button>
</form>
</div>
</div>
