<div class="conatainer">

<h1>Login</h1>
  <div class="form-label-group">
<form action="/login" method="post">
 <label>Username: <input type="text" name="username" required></input></label><br>
  <label>Password: <input type="password" name="password" required></input></label><br>
  <button class="btn btn-sm btn-primary text-uppercase" type="submit">Sign in</button>
</form>
</div>
</div>
