<h1>Welcome, <%= @user.username %>. Here is your record collection:</h1>

<% alphabetized = @user.records.sort_by {|record| record.artist} %>

<% alphabetized.each do |record| %>
  <ul><a href="/records/<%= record.id %>"><%= record.artist %>  -  <%= record.name %></a></ul>
<% end %>
<br></br>

<a href="/records/new">Add a New Record</a>
<br></br>

<a href="/logout">Log Out</a>
