<h1>Welcome, <%= @user.username %>. Here is your record collection:</h1>

<% @user.records.each do |record| %>

  <ul><a href="/records/<%= record.id %>"><%= record.name %>  -  <%= record.artist%></a></ul>
<% end %>
<br></br>

<a href="/records/new">Add a New Record</a>
<br></br>

<a href="/logout">Log Out</a>
