<div class="container">
<h1>Sign Up</h1>
<div class="form-group">
<form action="/signup" method="post">
<label>Username: <input type="text" name="username" class="form-control" required></input></label><br></br>
<label>Email: <input type="email" name="email" class="form-control" required></input></label><br></br>
<label>Password: <input type="password" name="password" class="form-control" required></input></label><br></br>
<input type="submit" value="Sign Me Up" class="btn btn-sm btn-secondary text-uppercase"></input>
</form>
</div>
</div>
