<h1>Sign Up</h1>
<form action="/signup" method="post">
<h3>Username: <input type="text" name="username" required></input></h3>
<h3>Email: <input type="text" name="email" required></input></h3>
<h3>Password: <input type="text" name="password" required></input></h3>
<input type="submit" value="Sign Me Up"></input>
</form>
