<div class="container">

<h1>Enter a New Record</h1>
<div class="form-group">
<form action="/records" method="post">
  <label>Artist Name <input type="text" name="artist" class="form-control" required></input></label><br></br>
  <label>Album Title: <input type="text" name="name" class="form-control" required></input></label><br></br>
  <label>Image URL: <input type="text" name="image_url" class="form-control" required></input></label><br></br>
  <input type="submit" value="Submit" class="btn btn-sm btn-secondary text-uppercase"></input>
</form>
</div>
</div>
