<div class="container">
  <div class="form-label-group">
<h1>Enter a New Record</h1>
<form action="/records" method="post">
  <label>Artist Name <input type="text" name="artist" required></input></label><br></br>
  <label>Album Title: <input type="text" name="name" required></input></label><br></br>
  <label>Image URL: <input type="text" name="img-url" required></input></label><br></br>
  <input type="submit" value="Submit" class="btn btn-sm btn-secondary text-uppercase"></input>
</form>
</div>
</div>
