<h1>Enter a New Record</h1>
<form action="/records" method="post">
  <h3>Artist: <input type="text" name="artist"></input></h3>
  <h3>Album Title: <input type="text" name="name"></input></h3>
  <input type="submit" value="Submit"></input>
</form>
